{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/stylesheets/style.css') }}">
{% endblock stylesheets %}

{% block header %}
    <a id="logo" href="{{ path('app.swagger_ui') }}"><img src="{{ asset('assets/images/sob-logo.png') }}" alt="sea of bottles logo"></a>
{% endblock header %}
