<div class="header">
    <a routerLink="" class="header__logo-group">
        <img alt="sea of bottles logo" class="header__logo" src="assets/images/sob-logo.svg" />
        <span class="header__title">Sea of Bottles</span>
    </a>

    <div class="header__menu">
        <a routerLink="bottle/create">
            <mat-icon svgIcon="bottle" class="header__menu-item"></mat-icon>
        </a>
        <a routerLink="sailor/create">
            <mat-icon svgIcon="sailor" class="header__menu-item"></mat-icon>
        </a>
    </div>
</div>
