{
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-no-unsupported-browser-features"
  ],
  "extends": "stylelint-config-standard",
  "stylelint-config-prettier": true,
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "order/properties-order": [],
    "plugin/rational-order": [true],
    "plugin/no-unsupported-browser-features": [true, {
        "severity": "warning"
    }]
  },
  "syntax": "scss"
}
