<div class="create-bottle">
    <div class="description">
        <h1 class="description__title">Send a Bottle</h1>
        <p class="description__content">Add a message in a Bottle and throw it into the Sea!</p>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="commandSubmit()" *ngIf="!wasCreated">
        <mat-form-field appearance="fill" class="form-field form__message">
            <mat-label>Your message</mat-label>
            <textarea matInput id="message" formControlName="message"></textarea>
            <mat-error *ngIf="form.controls.message.errors?.required">required</mat-error>
            <mat-error *ngIf="form.controls.message.errors?.minlength">more than {{form.controls.message.errors?.minlength.requiredLength}} characters</mat-error>
            <mat-error *ngIf="form.controls.message.errors?.maxlength">less than {{form.controls.message.errors?.maxlength.requiredLength}} characters</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!this.form.valid">Finish</button>
    </form>

    <div class="success" *ngIf="wasCreated">
        <mat-icon svgIcon="check" class="success__icon"></mat-icon>
        <span class="success__message">Bottle throw into the Sea!</span>
        <div class="success__option">
            <p>You have throw the Bottle into the Sea! Maybe someone, someday will open it.</p>
            <button mat-raised-button color="primary" (click)="reset()">Thrown another Bottle</button>
        </div>
        <div class="success__option">
            <p>Do you want to be able to be able to receive bottles from the Sea?</p>
            <button mat-raised-button color="primary" routerLink="/sailor/create">Become a sailor</button>
        </div>
    </div>
</div>
