<div class="footer">
    <div class="footer__sea">
        <div class="footer__sea__wave"></div>
        <div class="footer__sea__wave"></div>
    </div>

    <div class="footer__social">
        <div class="footer__social__item">
            <a href="https://fosstodon.org/@aperturedevs"><mat-icon class="footer__icon" svgIcon="mastodon"></mat-icon></a>
        </div>
        <div class="footer__social__item">
            <a href="https://github.com/ApertureDevs"><mat-icon class="footer__icon" svgIcon="github"></mat-icon></a>
        </div>
    </div>

    <div class="footer__small">
        <div class="footer__open-source">
            <span>Sea of Bottles is an open source project</span>
        </div>
        <div class="footer__licence">
            <span>Licence MIT</span>
        </div>
        <div class="footer__author">
            <span>dev by ApertureDevs</span>
        </div>
        <div class="footer__version">
            <span>v{{version}}</span>
        </div>
    </div>
</div>
