<div class="create-sailor">
    <div class="description">
        <h1 class="description__title">{{ 'create-sailor.title' | translate }}</h1>
        <p class="description__content">{{ 'create-sailor.description' | translate }}</p>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="commandSubmit()" *ngIf="!wasCreated">
        <mat-form-field appearance="fill" class="form-field form__email">
            <mat-label>{{ 'create-sailor.placeholder' | translate }}</mat-label>
            <input matInput id="email" formControlName="email"/>
            <mat-error *ngIf="form.controls.email.errors?.required">required</mat-error>
            <mat-error *ngIf="form.controls.email.errors?.email">invalid email</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!this.form.valid">{{ 'action.create-sailor' | translate }}</button>
    </form>

    <div class="success" *ngIf="wasCreated">
        <mat-icon svgIcon="check" class="success__icon"></mat-icon>
        <span class="success__message">{{ 'create-sailor.success.message' | translate }}</span>
        <div class="success__option">
            <p>{{ 'create-sailor.success.create-bottle-option-description' | translate }}</p>
            <button mat-raised-button color="primary" routerLink="/bottle/create">{{ 'action.create-bottle' | translate }}</button>
        </div>
    </div>
</div>
