<div class="create-sailor">
    <div class="description">
        <h1 class="description__title">Become a Sailor</h1>
        <p class="description__content">You can become a Sailor to be able to receive Bottles from the Sea. All you need is an email to receive them!</p>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="commandSubmit()" *ngIf="!wasSubmitted">
        <mat-form-field appearance="fill" class="form-field form__email">
            <mat-label>Your email</mat-label>
            <input matInput id="email" formControlName="email"/>
            <mat-error *ngIf="form.controls.email.errors?.required">required</mat-error>
            <mat-error *ngIf="form.controls.email.errors?.email">invalid email</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!this.form.valid">Finish</button>
    </form>

    <div class="success" *ngIf="wasSubmitted">
        <mat-icon svgIcon="check" class="success__icon"></mat-icon>
        <span class="success__message">You're now a Sailor!</span>
        <div class="success__option">
            <p>You may receive Bottles from the Sea. Do you want to throw one?</p>
            <button mat-raised-button color="primary" routerLink="/bottle/create">Thrown a Bottle</button>
        </div>
    </div>
</div>
