@import "variables";

@mixin text-style {
  color: $font-color;
  font-family: $font-family;
}

a {
  @include text-style;

  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

p,
li,
input,
label {
  @include text-style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include text-style;

  color: $title-color;
  line-height: 1.2;
  text-transform: uppercase;
}
