default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\JsonContext
                - App\Tests\Behat\Context\ExtendedRestContext
            paths:
                - '%paths.base%/tests/Behat/features'
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
        Behatch\Extension: ~
        DAMA\DoctrineTestBundle\Behat\ServiceContainer\DoctrineExtension: ~
